name: Deploy Godot Web

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: ./   # корень репозитория, где лежат html/js/wasm/static/_headers

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v2
